node_modules
**/node_modules
**/.pnpm
**/.pnpm-debug.log
**/npm-debug.log
.git
.gitignore
README.md
.env
**/.env
.env.*
!.env.example
.nyc_output
coverage
.docker
**/*.log
.DS_Store
**/.DS_Store
**/.vscode
**/.vscode-test
**/dist
**/build
**/.next
**/.nuxt
**/coverage
**/cypress
**/test-results
**/playwright-report
**/.playwright
**/tsconfig.tsbuildinfo
**/*.tsbuildinfo
